/*
 *  Copyright (C) 2012 Altera Corporation <www.altera.com>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

/dts-v1/;
#include "socfpga.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "MityCAM-PIRTMVCAM-GM";
	compatible = "cl,mitycam-pirtmvcam-ge", "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		bootargs = "console=ttyS0,115200 root=/dev/mmcblk0p2 rw rootwait";
	};

	memory {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x40000000>; /* 1 GB */
	};

	aliases {
		/* this allow the ethaddr uboot environmnet variable contents
		 * to be added to the gmac1 device tree blob.
		 */
		ethernet0 = &gmac1;
	};

	soc {
		clkmgr@ffd04000 {
			clocks {
				osc1 {
					clock-frequency = <25000000>;
				};
			};
		};

		dwmmc0@ff704000 {
			num-slots = <1>;
			supports-highspeed;
			broken-cd;
			altr,dw-mshc-ciu-div = <3>;
			altr,dw-mshc-sdr-timing = <0 3>;
			bus-width = <4>;
			status = "okay";
		};

		i2c0: i2c@ffc04000 {
			speed-mode = <0>;
			status = "okay";
		};

		i2c1: i2c@ffc05000 {
			speed-mode = <0>;
			status = "okay";
		};

		qspi: spi@ff705000 {
			compatible = "cadence,qspi";
                        #address-cells = <1>;
			#size-cells = <0>;
			reg = <0xff705000 0x1000>,
				<0xffa00000 0x1000>;
			interrupts = <0 151 4>;
			master-ref-clk = <400000000>;
			ext-decoder = <0>;  /* external decoder */
			num-chipselect = <4>;
			fifo-depth = <128>;
			bus-num = <2>;

			flash0: n25q00@0 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "n25q00";
				reg = <0>;      /* chip select */
				spi-max-frequency = <10000000>;
				m25p,fast-read;
				page-size = <256>;
				block-size = <16>; /* 2^16, 64KB */
				read-delay = <4>;  /* delay value in read data capture register */
				tshsl-ns = <50>;
				tsd2d-ns = <50>;
				tchsh-ns = <4>;
				tslch-ns = <4>;

				partition@qspi-preloader {
					/* 64 KB for preloader image 0-3. */
					label = "Preloader Image 0-3";
					reg = <0x0 0x40000>;
				};
				partition@qspi-ubootenv {
					/* 64 KB for u-Boot Env. */
					label = "U-Boot Env";
					reg = <0x40000 0x10000>;
				};
				partition@qspi-dtb {
					/* 64 KB for DTB */
					label = "DTB";
					reg = <0x50000 0x10000>;
				};
				partition@qspi-uboot {
					/* 512 KB for U-Boot */
					label = "U-Boot";
					reg = <0x60000 0x80000>;
				};
				partition@qspi-kernel {
					/* 8 MB for Kernel */
					label = "Kernel";
					reg = <0xE0000 0x800000>;
				};
				partition@qspi-rootfs {
					/* 7.125 MB for jffs2 data. */
					label = "Flash 0 jffs2 Filesystem";
					reg = <0x8E0000 0x720000>;
				};
			};

			flash1: n25q00@1 {
				#address-cells = <1>;
				#size-cells = <1>;
				compatible = "n25q00";
				reg = <1>;      /* chip select */
				spi-max-frequency = <10000000>;
				m25p,fast-read;
				page-size = <256>;
				block-size = <16>; /* 2^16, 64KB */
				read-delay = <4>;  /* delay value in read data capture register */
				tshsl-ns = <50>;
				tsd2d-ns = <50>;
				tchsh-ns = <4>;
				tslch-ns = <4>;

				partition@0 {
					/* 16MB for raw data. */
					label = "Flash 1 Filesystem";
					reg = <0x0 0x1000000>;
				};
			};
		};

		timer0@ffc08000 {
			clock-frequency = <100000000>;
		};

		timer1@ffc09000 {
			clock-frequency = <100000000>;
		};

		timer2@ffd00000 {
			clock-frequency = <25000000>;
		};

		timer3@ffd01000 {
			clock-frequency = <25000000>;
		};

		serial0@ffc02000 {
			clock-frequency = <100000000>;
		};

		serial1@ffc03000 {
			clock-frequency = <100000000>;
		};

		sysmgr@ffd08000 {
			cpu1-start-addr = <0xffd080c4>;
		};

		usb1: usb@ffb40000 {
			compatible = "snps,dwc2-vbus-ext";
			status = "okay";
		};

		gpio@ff708000 {
			/* HPS_GPIO0 -> HPS_GPIO28*/
			status = "okay";
		};

		gpio@ff709000 {
			/* HPS_GPIO29 -> HPS_GPIO57 */
			status = "okay";
			portb: gpio-controller@0 {
				gpio-line-names =
				"", /* 29 */
				"", /* 30 */
				"", /* 31 */
				"", /* 32 */
				"", /* 33 */
				"", /* 34 */
				"", /* 35 */
				"", /* 36 */
				"", /* 37 */
				"", /* 38 */
				"", /* 39 */
				"", /* 40 */
				"", /* 41 */
				"", /* 42 */
				"", /* 43 */
				"", /* 44 */
				"", /* 45 */
				"", /* 46 */
				"", /* 47 */
				"", /* 48 */
				"", /* 49 */
				"", /* 50 */
				"", /* 51 */
				"", /* 52 */
				"SBF20x_TEMP_ALERT_n", /* 53 */
				"SBF20x_PWR_EN", /* 54 */
				"SBF20x_TEC_SD", /* 55 */
				"SBF20x_PWR_OK", /* 56 */
				""; /* 57 */
			};
		};

		gpio@ff70a000 {
			/* HPS_GPI0 -> HPS_GPI13, GPS_GPIO58 -> HPS_GPIO66 */
			status = "okay";
			portc: gpio-controller@0 {
				gpio-line-names = 
				"", /* 58 */
				"", /* 59 */
				"", /* 60 */
				"SBF20x_TEMP_GOOD_n", /* 61 */
				"", /* 62 */
				"", /* 63 */
				"", /* 64 */
				"", /* 65 */
				""; /* 66 */
			};
		};

		streamer0: streamer@20000000 {
			compatible = "uio,irq";
			interrupts = <0 41 4>;
		};

		gmac1: ethernet@ff702000 {
			status = "okay";
		};

		hps_lw_bus: bus@0ff200000 {
			compatible = "simple-bus";
			reg = <0xFF200000 0x00200000>;
			#address-cells = <1>;
			#size-cells = <1>;
			ranges = <0x0 0xFF200000 0x00200000>;
			status = "okay";

			/* sbf20x_data_proc               @00000, managed in userspace */
			/* sbf20x_sysclk_pll_reconfig     @00200, manager in userspace */
			/* sbf20x_lvds_pll_reconfig       @00300, manager in userspace */
			/* stream_to_camlink              @00400, managed in userspace */
			/* stream_to_frame_packet_adapter @00480, managed in userspace */
			/* sbf20x_sync_control            @00500, managed in userspace */

			/* sbf20x_cl_spi                  @00580, managed in userspace */
			clspi: spi@0580 {
				compatible = "cl,spi-1.0";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x00000580 0x0040>;
				interrupts = <0 42 4>;
				master-ref-clk = <66666666>;
				num-chipselect = <8>;
				bus-num = <3>;

				spidev@1 {
					spi-max-frequency = <2000000>;
					reg = <0>;
					compatible = "cmosis,cmv8000";
				};
			};

			/* stream_to_sdram_raster          @005c0, managed in userspace */
			/* to_camlink_demux_2to1           @00600, managed in userspace */

			/* cam_gpio                        @00620, managed in userspace */
			gpio3: gpio@B000 {
				compatible = "cl,camio-1.0";
				reg = <0x00000620 0x20>;
				interrupts = <0 40 4>;
				virtual_irq_start = <342>;
				interrupt-controller;
				#interrupt-cells = <2>;
				gpio-controller;
				#gpio-cells = <2>;
				gpio-line-names = "CAMIO1", "CAMIO2", "CAMIO3", "CAMIO4";
			};

			/* pirt_pixel_corr    @00640, managed in userspace */
			/* msgmda_dispatcher_descriptors @00660, managed in userspace */
			/* msgmda_dispatcher_csr         @00680, managed in userspace */

			/* qsys_id         @006a0, managed in userspace */
			sysid_qsys: sysid@06A0 {
				compatible = "altr,sysid-1.0";
				reg = <0x0006A0 0x08>;
			};

		};
	};

};

&watchdog0 {
	status = "okay";
};

&i2c0 {
	/* on SOM */
	led@42 {
		device_type = "led";
		compatible = "ams,as3668";
		reg = <0x42>;
	};
	/* on SOM */
	eeprom@50 {
		compatible = "fmd,24c16";
		reg = <0x50>;
	};
	/* on SOM */
	rtc@69 {
		device_type = "rtc";
		compatible = "abracon,ab1805";
		reg = <0x69>;
	};
};

&i2c1 {
	eeprom@50 {
		compatible = "at,24c01";
		pagesize = <8>;
		/* 1010000R */
		reg = <0x50>;
	};
	tmp411@4C {
		compatible = "ti,tmp411";
		/* 1001100R */
		reg = <0x4C>;
	};
};

