#include "socfpga_mitysom5csx-h6-53b.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	aliases {
		/* this allow the ethaddr uboot environmnet variable contents
		 * to be added to the gmac1 device tree blob.
		 */
		ethernet0 = &gmac1;
	};

	gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		/* GPIO 37 */
		button@1 {
			label = "Switch 1";
			linux,code = <0x101>;
			gpios = <&portb 8 1>;
			debounce-interval = <100>;
		};
		/* GPIO 40 */
		button@2 {
			label = "Switch 2";
			linux,code = <0x102>;
			gpios = <&portb 11 1>;
			debounce-interval = <100>;
		};
		/* GPIO 41 */
		button@3 {
			label = "Switch 3";
			linux,code = <0x103>;
			gpios = <&portb 12 1>;
			debounce-interval = <100>;
		};
	};
};

&i2c1 {
	speed-mode = <0>;
	status = "okay";

	/* current monitor */
	ltc2992@0x6b {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "adi,ltc2992";
		reg = <0x6b>;

		channel@0 {
			reg = <0x0>;
			shunt-resistor-micro-ohms = <50000>;
		};

		channel@1 {
			reg = <0x1>;
			shunt-resistor-micro-ohms = <50000>;
		};
	};

	/* Power Monitor */
	ltc2945@6F {
		compatible = "ltc2945";
		reg = <0x6F>;
	};

	/* GPIO expander */
	pca9674a@20 {
		compatible = "nxp,pca9674";
		reg = <0x20>;

/*
	interrupt line is not connected

		interrupt-parent = <&irqpin2>;
		interrupts = <3 0>;
		interrupt-controller;
		#interrupt-cells = <2>;
*/

		gpio-controller;
		#gpio-cells = <2>;
	};

	shtc1@70 {
		compatible = "sensirion,shtc1";
		reg = <0x70>;
	};
};

&hps_lw_bus {
	status = "okay";

	sysid_qsys: sysid@000000 {
		compatible = "altr,sysid-1.0";
		reg = <0x000000 0x08>;
	};

	spij_stdio: spij@100 {
		compatible = "kcrocker,spij-stdio";
		reg = <0x0100 0x18>;
		interrupts = <0 40 4>;
	};

	spij_snoop: spij_snoop@200 {
		compatible = "kcrocker,spij-snoop";
		reg = <0x0200 0x14>;
		interrupts = <0 41 4>;
	};
};

&mmc {
	status = "okay";
	num-slots = <1>;
	broken-cd;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	altr,dw-mshc-ciu-div = <3>;
	altr,dw-mshc-sdr-timing = <0 3>;
	bus-width = <4>;
};

&gmac1 {
	status = "okay";
	phy-mode = "rgmii";
	
	txd0-skew-ps = <0>;
	txd1-skew-ps = <0>;
	txd2-skew-ps = <0>;
	txd3-skew-ps = <0>;
	rxd0-skew-ps = <420>;
	rxd1-skew-ps = <420>;
	rxd2-skew-ps = <420>;
	rxd3-skew-ps = <420>;
	txen-skew-ps = <0>;
	txc-skew-ps = <1860>;
	rxdv-skew-ps = <420>;
	rxc-skew-ps = <1680>;
	
	max-frame-size = <3800>;
		
	snps,reset-delays-us = <0 10000 1000000>;
	snps,reset-gpio = <&porta 28 1>; 			
	snps,reset-active-low;
};

&spi0 {
	num-cs = <2>;
	status = "okay";

	/* ad5686 DAC */
	spi@0 {
		compatible = "ad5686";
		reg = <0>;
		vcc-supply = <&regulator_3_3v>;
		spi-max-frequency = <1000000>;
	};

	/* mcp3564 ADC */
	adc@1 {
		compatible = "microchip,mcp3564r";
		reg = <1>;
		vref-supply = <&regulator_3_3v>;
		spi-cpha;
		spi-cpol;

		spi-max-frequency = <10000000>;
		microchip,hw-device-address = <1>;

		#address-cells = <1>;
		#size-cells = <0>;

		channel@0 {
			/* CH0 to AGND */
			reg = <0>;
			label = "CH0";
		};

		channel@1 {
			/* CH1 to AGND */
			reg = <1>;
			label = "CH1";
		};

		channel@2 {
			/* CH2 to AGND */
			reg = <2>;
			label = "CH2";
		};

		channel@3 {
			/* CH3 to AGND */
			reg = <3>;
			label = "CH3";
		};

		channel@4 {
			/* CH4 to AGND */
			reg = <4>;
			label = "CH4";
		};

		channel@5 {
			/* CH5 to AGND */
			reg = <5>;
			label = "CH5";
		};

		channel@6 {
			/* CH6 to AGND */
			reg = <6>;
			label = "CH6";
		};

		channel@7 {
			/* CH7 to AGND */
			reg = <7>;
			label = "CH7";
		};
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};
